<h1>Contact Us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="sucess">Your form is valid!</h5>

  <label>Name
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <span *ngIf="messageForm.controls.name.errors.required">Please input your name!</span>
    </div>
  </label>

  <label>Message
    <textarea formControlName="message"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <span *ngIf="messageForm.controls.message.errors.required">Please input your message!</span>
    </div>
  </label>

  <input type="submit" value="Send message" class="cta">
</form>

<div *ngIf="submitted" class="results">
  <strong>Name: </strong>
  <span>{{ messageForm.controls.name.value }}</span>

  <strong>Message: </strong>
  <span>{{ messageForm.controls.message.value }}</span>
</div>